/* Global Styles */
* {
  color: #333333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, main {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
}

h2 {
  padding: 15px 0px;
}

ul {
  list-style: none;
}

ul li {
  text-align: justify;
  padding: 10px 10px;
}

ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #e60012;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  width: 2em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.name-drop {
  background-color: #e60012;
  min-height: 100%;
  width: 100%;
}

.name-drop * {
  padding: 10px 0px 0px 0px;
}

.name-drop h1 {
  color: #ffffff;
  font-size: 38px;
}

.name-drop p {
  color: #ffffff;
  font-weight: 400;
  font-style: bold;
  padding-bottom: 15px;
}

.hero {
  content: "";
  width: 100%;
  overflow: hidden;
  padding: 20px 15px 85px 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 85%, white 100%), url("../images/BG_SuperSmashCharacters.jpg");
  background-size: contain;
  background-repeat: repeat;
  animation-name: gallery-background-scroll;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-duration: 60s;
}

.hero .hero-container {
  display: flex;
  flex-direction: column;
  height: 52.5vh;
  margin: auto;
  max-width: 425px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.hero-gallery-display {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.hero-gallery-display img {
  border-radius: 5px;
  width: 70%;
  height: auto;
}

.hero-gallery-text {
  padding: 10px;
}

.hero-gallery-text img-caption {
  font-size: 12px;
  margin: auto;
}

.hero-gallery-navigation {
  position: relative;
  bottom: 65%;
}

.hero-gallery-navigation #gallery-left-button {
  position: relative;
  right: 45%;
}

.hero-gallery-navigation #gallery-right-button {
  position: relative;
  left: 45%;
}

.hero-gallery-navigation button {
  color: #ffffff;
  background-color: #e60012;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  border-radius: 5px;
  margin: auto;
  height: 64px;
  width: 32px;
  transition: transform .2s ease-out;
}

.hero-gallery-navigation button:hover {
  color: #ffffff;
  transform: scale(1.2);
}

@keyframes gallery-background-scroll {
  0% {
    background-position: 0vw 0%;
  }
  25% {
    background-position: 0vw 0%;
  }
  50% {
    background-position: 100vw -1122.5%;
  }
  /* The background fade-out breaks if you move vertivally with pixels */
  75% {
    background-position: 100vw -1122.5%;
  }
  /* It takes much longer for it to break with precentages */
  100% {
    background-position: 0vw 0%;
  }
}

.tribute-info {
  padding: 30px 20px;
}

.tribute-info ul {
  padding-left: 5vw;
}

.tribute-info ul li {
  margin: auto;
  max-width: 420px;
}

.tribute-info-ludography {
  padding-top: 40px;
}

.tribute-info-ludography .ludography {
  max-height: 70vh;
  overflow: scroll;
}

.tribute-info-ludography .ludography table {
  width: 100%;
  margin: auto;
}

.tribute-info-ludography .ludography table th {
  color: #ffffff;
  background-color: #e60012;
}

.tribute-info-ludography .ludography table th, .tribute-info-ludography .ludography table td {
  padding: 10px;
}

footer {
  color: #ffffff;
  background-color: #e60012;
  padding: 25px 10px;
}

footer a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */