
$text-main-color: #333333;
$bg-main-color: #ffffff;
$bg-gallery-color: rgba(256, 256, 256, 0.85);
$border-radius-gallery: 5px;

/* Global Styles */

* {
    color: $text-main-color;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, main {
    background-color: $bg-main-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-align: center;
}

// Name-Drop Styles

.name-drop {
    content: "";
    background-image: url("../images/BG_Header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    
    * {
        padding: 10px 0px 5px 0px;
    }

    h1 {
        font-size: 34px;
    }
    
    p {
        font-weight: 600;
        font-style: bold;
        padding-bottom: 15px;
    }
}

// Hero Styles

.hero {
    display: flex;
    content: "";
    background-image: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0) 85%, 
        white 100%
    ), 
    url("../images/BG_SuperSmashCharacters.jpg");
    //background-image: url("../images/BG_SuperSmashCharacters.jpg");
    //  linear-gradient(white, white 80%, rbga(0, 0, 0, 0) 100%);
    background-size: contain;
    background-repeat: repeat;
    background-position: center top;
    width: 100%;
    overflow: hidden;
    padding: 20px 15px 85px 15px;

    .hero-container {
        margin: auto;
        max-width: 425px;
        padding: 10px;
        background-color: $bg-gallery-color;
        border-radius: $border-radius-gallery;
    }
}

.hero-gallery {

    img {
        border-radius: $border-radius-gallery $border-radius-gallery 0px 0px;
        width: 100%;
        height: auto;
    }
}